@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink-red {
  0%, 100% { color: #f87171; }
  50% { color: #ef4444; background-color: #7f1d1d22 }
}
@keyframes blink-green {
  0%, 100% { color: #34d399; }
  50% { color: #059669; background-color: #065f461a }
}
.animate-blink-red {
  animation: blink-red 1s infinite;
}
.animate-blink-green {
  animation: blink-green 1s infinite;
}